* {
  margin: 0;
  padding: 0;
}

body {
  width: 1000px;
  margin: 0 auto;
}

.txt-center {
  margin: 0 auto;
  width: 700px;
  font-size: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #1d1d1f;
  letter-spacing: 0.012em;
  line-height: 1.2;
}

.txt-center p {
  margin: 30px auto;
}

.txt-center strong {
  font-size: 0.8em;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: #1d1d1f;
}

.icons {
  margin: 6% auto;
}

.icons i {
  color: #58585a;
  font-size: 17px;
  padding: 1%;
}

h2 {
  margin: 4% auto;
  color: #303030;
}

.imgs p {
  color: #888787;
  font-size: 0.9rem;
  margin: 1% auto;
}

h3 {
  font-size: 1.1em;
  margin: 5% auto;
}

li {
  margin-left: 3%;
}

h4 {
  font-size: 0.8em;
  margin: 0;
}

.about {
  font-size: 0.6em;
}

a {
  text-decoration: none;
  color: rgb(0, 132, 255);
}
