@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 95%;
  margin: 0 auto;
}

i {
  font-size: 1.2em;
  cursor: pointer;
}

.date {
  font-size: 13px;
}

nav > i {
  background-color: black;
  color: white;
  padding: 20px;
}

