@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 90%;
  margin: 0 auto;
  background-color: #f7f7f7;
  margin-left: 6.5%;
}

nav ul:first-child {
  margin-left: -120px;
  position: fixed;
  margin-top: 51%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 3%;
  align-items: center;
  justify-content: space-between;
}

nav p:nth-child(2) {
  font-size: 15px;
  position: fixed;
  margin-top: -26px;
}
nav p:nth-child(1) {
  margin-bottom: 25px;
}

nav ul:first-child > li > i {
  color: black;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(204, 204, 204);
  align-items: center;
  padding: 15px 0;
}

header i {
  font-size: 1.2em;
  margin-right: 20px;
  cursor: pointer;
}

header > div > i:nth-child(2)::after {
  content: "â—";
  color: transparent;
  font-size: 40%;
  background-color: red;
  border: 0.5px solid white;
  border-radius: 50%;
  position: relative;
  margin-left: -25%;
  top: -10px;
}
h1 {
  font-family: "UnifrakturMaguntia", cursive;
}

header button {
  font-size: 1em;
  font-weight: bold;
  padding: 8px 15px;
  background-color: transparent;
  border: 1px solid black;
}
header button:hover {
  color: #5e5c5c;
  cursor: pointer;
}

header button:first-child {
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a:hover {
  color: #222222;
}

nav > div > p:first-child {
  font-weight: bold;
  width: 75px;
}

nav > i {
  background-color: black;
  color: white;
  padding: 30px;
}

ul {
  list-style: none;
  display: flex;
}
button:hover {
  cursor: pointer;
  color: #8fa2a8;
}
nav:nth-child(3) > ul {
  list-style: none;
  margin: 0 2%;
  width: 100%;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(167, 166, 166);
  font-size: 1em;
}

section {
  border-bottom: 1px solid rgb(233, 232, 232);
  padding-bottom: 10px;
}

section > nav {
  justify-content: flex-start;
  margin-top: 15px;
}

section > nav > ul > li > a {
  margin: 0 20px;
}

section > div > article {
  margin-top: 50px;
}

section > div {
  display: flex;
}

article {
  border-right: 1px solid rgb(233, 232, 232);
}

article:last-child {
  border-right: none;
}

article:first-child > img {
  width: 50%;
}

article > div {
  display: flex;
  font-size: 1.1em;
  align-items: center;
  margin: 3% 0;
}

article > div > button {
  color: white;
  background-color: black;
  border: none;
  border-radius: 2px;
  padding: 7px 14px;
  font-size: 0.75em;
  margin-right: 2%;
}

article > h5 {
  font-size: 2.3em;
}

article > p {
  font-size: 1.1em;
  color: rgb(175, 175, 175);
  padding: 15px 0;
}

article > button {
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
  background-color: transparent;
  color: rgb(182, 182, 182);
  padding-bottom: 10px;
}

article > h2 {
  font-size: 1.7em;
  margin: 10px 0;
}

article > h3 {
  margin-bottom: 20px;
}

article:nth-child(2) > div:nth-child(5) {
  padding-top: 50px;
}

.date {
  font-size: 13px;
}

#icon {
  font-size: 50px;
  margin-top: 40px;
  margin-left: -110px;
  position: absolute;
}

article > div > img {
  width: 170px;
}

.subscript {
  color: rgb(175, 175, 175);
  margin-top: 3%;
  font-size: 0.9em;
}

article:last-child > div {
  margin-bottom: 5%;
}

section > div > article {
  width: 38vw;
  padding: 0 20px;
}
