@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}

.sidebar {
  float: left;
  width: 350px;
  background-color: #1e1e1f;
  height: 2000px;
}

.content {
  position: relative;
  overflow: hidden;
}

.avatar {
  float: left;
  width: 45px;
  height: 45px;
  margin: 25px;
  border-radius: 50%;
  background-color: #d6e9fe;
}

.menu a {
  color: white;
  text-decoration: none;
}
h3 {
  margin-top: 37px;
  color: white;
}
.menu .enlace {
  width: 100%;
  padding: 15px 0 15px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.menu .enlace:hover {
  background-color: #131212;
}

.menu .enlace i {
  font-size: 25px;
  margin-left: 20px;
  color: white;
}

.menu .enlace span {
  margin-left: 20px;
}
.menu .enlace:hover,
.menu .enlace:focus-visible {
  cursor: pointer;
}
img {
  width: 100%;
}
.menu .enlace:hover i {
  color: yellow;
}
p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  margin-left: 25px;
}
hr {
  border: none;
  border-top: 2px solid #333232;
}
.text-container {
  position: absolute;
  top: 20%;
  left: 5%; /* Modificamos el valor left */
  text-align: left;
  color: white;
  z-index: 1;
}

.text-container h1 {
  font-size: 80px;
  margin-bottom: 40px;
  margin-top: -30px;
  margin-left: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text-container h2 {
  font-size: 50px; 
  margin-bottom: 40px;
  font-weight: 30; 
  margin-left: 0;
  font-family:  "Montserrat", sans-serif;
}

.text-container a {
  margin-right: 20px;
  margin-top: 100px;
  height: 4rem;
  width: 8rem;
  border-radius: 10px;
  text-align: center;
  line-height: 4rem;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: rgb(214, 165, 3);
  border: 2px solid black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text-container a:hover {
  background-color: #041b2c;
  color: white;
}

.menu a:hover p {
  color: rgb(80, 72, 72); 
}
