*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
    background-color: #F7F7F7;
    margin-left: 6.5%;
}

ul:first-child{
    margin-left: -6.5%;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 3%;
    align-items: center;
    justify-content: space-between;
}

ul:first-child > li > a > i{
    color: black;
    margin: 20px 0;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(204, 204, 204);
    align-items: center;
    padding: 1% 0;
}

header i{
    font-size: 1.2em;
    margin-right: 20px;
}

header > div > i:nth-child(2)::after{
    content: "â—";
    color: transparent;
    font-size: 50%;
    background-color: red;
    border: 0.5px solid white; 
    border-radius: 50%;
    position: relative;
    margin-left: -25%;
    top: -0.8em;
}

header button{
    font-size: 1em;
    font-weight: bold;
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid black;
}

header button:first-child{
    border: none;
}

header > img{
    width: 15%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div > p:first-child{
    font-weight: bold;
}

nav > i{
    background-color: black;
    color: white;
    padding: 30px;
}
ul{
    list-style: none;
    display: flex;
}

nav:nth-child(3) > ul{
    list-style: none;
    margin: 0 2%;
    width: 100%;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: rgb(167, 166, 166);
    font-size: 1.2em;
}

section{
    border-bottom: 1px solid rgb(233, 232, 232);
    padding-bottom: 2%;
}

section > nav{
    justify-content: flex-start;
    margin-top: 2%;
}

section > nav > ul > li > a{
    margin: 0 20px;
}

section > div > article{
    margin-top: 3%;
}

section > div{
    display: flex;
}

article{
    border-right: 1px solid rgb(233, 232, 232);
}

article:last-child{
    border-right: none;
}

article:first-child > img{
    width: 50%;
}

article:nth-child(3) > div, .detail_and_date{
    display: flex;
    font-size: 1.1em;
    align-items: center;
    margin: 3% 0;
}

.detail_and_date > span{
    color: white;
    background-color: black;
    border: none;
    border-radius: 2px;
    padding: 7px 14px;
    font-size: 0.75em;
    margin-right: 2%;
}

article:first-child h2{
    font-size: 2.3em;
}

.news > p{
    font-size: 1.1em;
    color: rgb(175, 175, 175);
    padding: 3% 0;
}

.continue{
    border: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    background-color: transparent;
    color: rgb(182, 182, 182);
    padding-bottom: 1%;
}

.news > h2{
    font-size: 1.7em;
    margin: 2% 0;
}

.news > h3{
    margin-bottom: 4%;
}

article > div:nth-child(4){
    padding-top: 2em;
    display: flex;
}

.point:after{
    content: "oo";
    color: transparent;
    font-size: 0.5em;
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.point:first-child:after{
    background-color: white ;
    border: 1px solid black;
}

.point{
    padding: 1%;
}

.news:nth-child(3){
    padding-top: 8%;  
}

.foward > img{
    width: 35%;
    padding-left: 6%;
}

.foward p:last-child{
    color: rgb(175, 175, 175);
    margin-top: 3%;
    font-size: 0.9em;
}

article:last-child > div{
    margin-bottom: 5%;
}

section > div > article{
    width: 38vw;
    padding: 0 2%;
}

section > div > article:last-child{
    width: 24vw;
}

.foward{
    padding-right: 0;
}

section:nth-child(5) > div{
    justify-content: space-between;
}

section:nth-child(5) > div > div{
    padding: 4% 8%;
}

.graphic:nth-child(1), .graphic:nth-child(4), .graphic:nth-child(6){
    background-color: #CA495E;
}

.graphic:nth-child(2), .graphic:nth-child(3){
    background-color: #5C8E5B;
}

.graphic:nth-child(5){
    background-color: #141316;
}